@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:wght@300;400&display=swap");
* {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  display: flex;
  background-image: url(1844682.jpg);
  background-size: cover;
  background-position: center;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.header-left-side h1 {
  margin: 0 10px 0 10px;
  font-family: "Great Vibes", cursive;
}

.header-right-side {
  margin: 0 10px 0 10px;
  font-family: "Merriweather", serif;
}

/* Menu row */
.menu-section-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: dimgrey;
  padding-top: 20px;
}

.menu-section-row h3 {
  font-family: "Merriweather", serif;
}

.menu-section-row h3:hover {
  color: rgb(64, 130, 64);
  cursor: pointer;
}

/* Main section */

section {
  flex-grow: 10;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 50px;
  background-color: rgb(217, 217, 217);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  section {
   
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 50px 100px 50px 100px;
  }
  header{
    font-size: 2rem;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section {
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
   
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  section {
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

} 

/* Dish card */

.dish-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

.dish-card:hover {
  background: rgb(245, 245, 231);
  cursor: pointer;
}

.dish-card ul,
li {
  /* font-family: 'Great Vibes', cursive; */
  font-family: "Merriweather", serif;
  list-style: none;
}

.dish-card li {
  font-family: "Great Vibes", cursive;

  font-size: 18px;
  color: dimgrey;
}

.dish-card-top {
  flex-grow: 1;
  box-sizing: content-box;
  height: 10vh;
  object-fit: cover;
}

.dish-card-top img {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dish-card-bottom {
  flex-grow: 2;
}

/* footer {
  display: flex;
  flex-grow: 1;
  background: grey;
} */
