@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  height: 40vh;
  width: 100vw;
}

/* .sticky {
  position: fixed;
  width: 100%
} */

.top-header{
  height:80% ;
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.4)),
  url(/img/petr-sevcovic-fyQr1T3GE34-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
}

.logo{
  display: flex;
  color:#fff;
  font-size:3rem;
}

.logo-left {
  margin: 0 10px;
  font-family: "Great Vibes", cursive;
}

.logo-right{
  margin: 0 10px;
  font-family: "Merriweather", serif;
}


.end-header{
  height:20%;
}

.end-header ul{
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  color: dimgrey;
  margin: 2rem;
}

.end-header ul li a{
  font-family: "Merriweather", serif;
  text-decoration: none;
  font-size: 1.5rem;
  color:slategrey;
}

.end-header ul li a:hover {
  color: rgb(64, 130, 64);
  cursor: pointer;
}

@media (max-width: 700px) {

 .top-header{
    display: block;
    margin: 0 auto;
  }
  nav {
    display: block;
  }
  .nav-links ul li {
    display: block;
    margin: 0.5rem;
    text-align: center;
  }

/* Main section */

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  background-color: rgb(217, 217, 217);
  align-items: center;
  justify-content: center;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    width: 1260px;
    margin: auto;
  }
}

.group-name {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
  color: dimgrey;
  background-color: rgb(217, 217, 217);
  padding-top: 20px;
}


 .logo {
   font-size: 2rem
 }

}

/* FOOTER */

footer {
  width: 100vw;
  text-align: center;
  height: 30vh;
  color: #fff;
  padding: 50px 0;
  background-color: slategrey;
}

footer h4 {
  
  font-size: 2rem;
}
footer p {
  color: #fff;
  
}

.icons {
  
}

.icons .fab {
  color: black;
  margin: 13px;
  font-size: 2rem;
  /* cursor: pointer; */
}




.dish-card {
  display: flex;
  height: 330px;
  width: 250px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  margin: 20px;
}

.dish-card:hover {
  background: rgb(245, 245, 231);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.dish-card-top {
  height: 100px;
  box-sizing: content-box;
  object-fit: cover;
  justify-content: flex-start;
}

.dish-card-top img {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dish-card-bottom {
  color: dimgrey;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish-card-bottom h4, h5 {
  font-family: "Merriweather", serif;
  padding-bottom: 10px;
}

.dish-card-bottom p {
  font-family: "Great Vibes", cursive;
}

.drinks-container {
  height: 170px;
  width: 250px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border-radius: 20px;
}

.drinks-card {
  color: dimgrey;
  font-family: "Merriweather", serif;
  display: flex;
  padding-bottom: 0;
  align-items: baseline;
}

.drinks-card h5 {
  color: dimgrey;
  font-family: "Merriweather", serif;
}

.drinks-card p {
  font-size: 16px;
  font-family: "Great Vibes", cursive;
  margin: 0 10px 0 5px;
}

.drinks-container:hover {
  background: rgb(245, 245, 231);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

